{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Image Detail ({{image.title}}){% endblock title %}


{% block content %}
    <h2>{{image.title}}</h2>
    <hr>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <a href="{{image.image.url}}">
                <img src="{% thumbnail image.image 300x0%}" alt="">
            </a>
        </div>
        <div class="col-md-6 col-lg-6">
        {% with total_likes=image.users_likes.count users_like=image.users_likes.all%}
            <div class="image-info">
                <div>
                    <span class="count btn btn-outline-secondary">
                        <span class="total">{{total_likes}}</span>
                        Like{{total_likes|pluralize}}
                    </span>
                    <a href="#" data-id="{{image.id}}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
                        {% if request.user not in users_like %}
                            <button class="btn btn-info">Like</button>
                        {% else %}
                            <button class="btn btn-warning">Unlike</button>
                        {% endif %}
                    </a>
                    <span class="count btn btn-outline-secondary">
                        <span class="total">{{total_views}}</span>
                        View{{total_views|pluralize}}
                    </span> 
                </div>
                {{image.description|linebreaks}}
            </div>
            <div class="image-like">
            {% for user in users_like %}
                <div>
                    <div class="user-profile">
                    {% comment %} <img src="{{user.profile.photo.url}}" alt=""> {% endcomment %}
                    </div>
                    <p>{{user.first_name}}</p>
                </div>
            {% empty %}
                Nobody likes this image yet
            {% endfor %}
            </div>
        {% endwith %}
        </div>
    </div>
{% endblock content %}


{% block domready %}
    $('a.like').click(function(e){
        e.preventDefault();
        $.post('{% url 'images:like' %}',
        {
            id: $(this).data('id'),
            action: $(this).data('action')
        },
   
        function(data){
            var status = data['status']
            if(status == 'ok'){
                // get the previous value of the action
                var previous_value = $('a.like').data('action')
                console.log(previous_value)
                console.log($('a.like').text())

                // Toggle the action
                $('a.like').data('action', previous_value == 'like' ? 'unlike' : 'like')

                // Toggle the btn

                $('a.like').text(previous_value == 'like' ? 'Unlike' : 'Like')

                // update the number of likes
                var previous_likes = parseInt($('span.count .total').text())
                
                $('span.count .total').text(previous_value == 'like' ? previous_likes + 1 : previous_likes - 1)
                console.log(previous_likes)
            }
        }
        )

    })
{% endblock domready %}






