{% extends "base.html" %}
{% load thumbnail %}



{% block content %}
<div class="row">
    {% for user in obj_list %}
            
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <a href="{{user.get_absolute_url}}"><img class="card-img-top" src="{{user.profile.photo.url }}"></a>
                <div class="card-body">  
                    <h5 class="card-title">{{user.username}}</h5>     
                    <p class="card-text">{{user.profile.about|truncatewords:10}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}

